/*mudar de preto para branco*/
:root {
    --bg-color: #000;
    --text-color: #ffffff;
    --text-muted: #cccccc;
    --title-muted: #535353;

    --header-bg: #000;
    --card-bg: #111;
    --input-bg: #6363636b;

    --button-bg: #7e7b7b;
    --button-text: #000;

    --hover-bg: #000;
    --hover-text: #888;

    --section-shadow: 0 0 40px 10px rgba(255, 255, 255, 0.15);
}

body.light {
    --bg-color: #f4f4f4;
    --text-color: #000000;
    --text-muted: #444444;
    --title-muted: #777777;

    --header-bg: #ffffff;
    --card-bg: #ffffff;
    --input-bg: #9b9898;

    --button-bg: #dddddd;
    --button-text: #000;

    --section-shadow: 0 0 40px 10px rgba(120, 120, 120, 0.25);
}

form input::placeholder,
form textarea::placeholder {
    color: rgba(255, 255, 255, 0.85);
}

body.light form input,
body.light form textarea {
    color: #111;
}

/*ESITLO GERAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    min-height: 100vh;
}

html {
    scroll-behavior: smooth;
}

.interface {
    max-width: 1250px;
    margin-inline: auto;
    padding-inline: clamp(24px, 5vw, 60px);
}

section {
    width: 100%;
    scroll-margin-top: 120px;
    /* altura do header */
}

.flex {
    display: flex;
}

.btn-contato .btn-cta {
    border: none;
    outline: none;

    width: 280px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    height: 52px;
    padding-inline: 32px;

    font-size: 20px;
    font-weight: 500;

    background-color: #7e7b7b;
    color: #000;

    border-radius: 20px;

    text-decoration: none;
    cursor: pointer;
    user-select: none;

    transition: background-color .5s ease,
        color .5s ease,
        transform .5s ease,
        box-shadow .5s ease;

    box-shadow: 0 0 22px 6px rgba(160, 160, 160, 0.35);
}


.btn-contato .btn-cta:hover {
    background-color: #ffffff;
    color: #000;

    transform: scale(1.08);

    box-shadow: 0 0 36px rgba(180, 180, 180, 0.55);
}

.btn-contato .btn-cta i {
    color: inherit;
}

h2.titulo {
    color: var(--text-color);
    font-size: 30px;
    text-align: center;
}

h2.titulo span {
    color: var(--title-muted);
}

/*LOGO DO PORTIFOLIO*/
.logo a {
    cursor: default;
}

.logo img {
    display: block;
    width: 120px;
    height: auto;

    transition: filter 0.5s ease;
}

header.shrink .logo img {
    filter: drop-shadow(0 0 6px rgba(92, 92, 92, 0.705));
}

body.light .logo img {
    filter: drop-shadow(0 0px 6px rgba(120, 120, 120, 0.822));
}

/*EFEITOS DO SCROLL NO TOPO*/

body:not(.light) header.scrolled {
    background-color: #ffffff;
    /* lua → sol */
}

body.light header.scrolled {
    background-color: #000000;
    /* sol → lua */
}

/* SCROLL - INVERTE A COR DO TEXTO */
body:not(.light) header.scrolled .menu-desktop a {
    color: #000000;
    /* fundo branco */
}

body.light header.scrolled .menu-desktop a {
    color: #ffffff;
    /* fundo preto */
}


/*ESTILO DO CABEÇALHO*/


@media (min-width: 769px) {
    header nav ul li a {
        font-size: 22px;
    }
}

main {
    padding-top: 120px;
    /* mesma altura do header */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    z-index: 9999;

    padding: 18px;
    height: 120px;

    background-color: var(--header-bg);
    transition: background-color 0.5s ease, box-shadow 0.5s ease;
}

header.shrink {
    padding: 18px;
    background-color: var(--header-bg);
    transition: all 0.5s ease;
}

header>.interface {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    filter: drop-shadow(0 0 20px rgba(218, 222, 223, 0.2));
    user-select: none;
}

header a {
    color: var(--text-muted);
    text-decoration: none;
    display: inline-block;
    transition: color .3s ease, transform .3s ease;
}

header nav ul {

    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 32px;
    /* espaço ENTRE os itens */
}

header nav ul li {
    display: inline-block;
    padding: 0 5px;
    padding: 0;
}

.menu-desktop {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 28px;
    /* espaçamento uniforme */
}

.menu-desktop a {
    min-width: 110px;
    text-align: center;

    font-weight: bold;
    font-size: 22px;
    text-decoration: none;

    height: 44px;
    line-height: 44px;
    padding: 0 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    user-select: none;
    caret-color: transparent;

    transition: color 0.8s ease;
    /* mais lento e elegante */
}

.menu-desktop a::after {
    content: "";
    position: absolute;
    bottom: 6px;
    left: 50%;

    width: 0;
    height: 2px;

    background-color: currentColor;
    border-radius: 2px;

    transform: translateX(-50%);
    transition: width 0.55s cubic-bezier(.4, 0, .2, 1);
}

.menu-desktop a:hover {
    opacity: 0.85;
}

.menu-desktop a:hover::after {
    width: 70%;
}


body:not(.light) .menu-desktop a {
    color: #ffffff;
}


body.light .menu-desktop a {
    color: #000000;
}

body:not(.light) header.shrink {
    background-color: #ffffff;
}

body.light header.shrink {
    background-color: #000000;
}

/* TEXTO DO MENU NO SCROLL (SHRINK) */
body:not(.light) header.shrink .menu-desktop a {
    color: #000000;
}

body.light header.shrink .menu-desktop a {
    color: #ffffff;
}



/*BOTAO-CURRICULO*/
.btn-curriculo {

    height: 52px;
    /* mantém a altura */
    min-width: 170px;
    /* remove largura mínima */
    width: auto;
    /* deixa o texto definir a largura */
    padding-inline: 20px;
    /* ↓ diminui os lados */

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    border-radius: 18px;
    background-color: #7e7b7b;
    color: #000000;
    text-decoration: none;

    font-size: 20px;
    font-weight: 500;


    /* mantém tudo */
    transition: background-color 0.6s ease, transform 0.6s ease, box-shadow 0.6s ease;

    box-shadow: 0 0 22px 6px rgba(160, 160, 160, 0.35);
}

.btn-curriculo:hover {
    transform: scale(1.08);
    background-color: #ffffff;
    box-shadow: 0 0 40px 10px rgba(180, 180, 180, 0.55);
}

/*AREA PARA VISUALIZAR CURRICULO*/

.pagina-curriculo {
    height: 100vh;
    padding: 40px 4%;
    display: flex;
    flex-direction: column;
    color: #fff;
    user-select: none;
}

.acoes-curriculo {
    position: relative;
    justify-content: flex-start;
    /* ou center */
    display: flex;
    justify-content: center;
    align-items: center;
}


.acoes-curriculo .btn-curriculo {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -26px;
    /* metade da altura do botão (52px) */
    font-size: 22px;

}

.acoes-curriculo h1 {
    font-size: 45px;
    margin: 0;
    text-align: center;
}

.btn-curriculo,
.btn-curriculo i {
    font-size: 22px;
}

/* PDF */
.pdf-container {
    flex: 1;
    width: 70%;
    margin: 0 auto 20px;
    border-radius: 40px;
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.233);
}

.pdf-container iframe {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    border: none;
}

/* botão escondido no desktop */
.btn-pdf-mobile {
    display: none;
}

.curriculo-mobile {
    display: none;
}

/* MOBILE */
@media (max-width: 768px) {
    .curriculo-desktop {
        display: none;
    }

    .btn-pdf-mobile {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        margin: 40px auto 0;
        padding: 16px 28px;

        background: #7e7b7b;
        color: #000;
        text-decoration: none;
        border-radius: 18px;

        font-size: 20px;
        font-weight: 600;
        box-shadow: 0 0 25px rgba(255, 255, 255, .25);
    }

    .btn-pdf-mobile:hover {
        background: #fff;
        transform: scale(1.05);
    }

    .curriculo-mobile {
        display: inline-flex;
    }
}

/*TRADUÇÃO*/

.btn-idioma {
    height: 52px;
    width: 60px;
    padding: 0;
    gap: 4px;

    pointer-events: auto;
    background-color: #7e7b7b;
    border-radius: 12px;
    border: none;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    min-width: auto !important;
    flex-shrink: 0;
    transition: background-color 0.6s ease, transform 0.6s ease, box-shadow 0.6s ease;

    box-shadow: 0 0 20px 6px rgba(160, 160, 160, 0.3);
}

.btn-idioma:hover {
    background-color: #ffffff;
    transform: scale(1.08);
    box-shadow: 0 0 36px 10px rgba(180, 180, 180, 0.5);
}

.btn-idioma img {
    width: 26px;
    display: block;
}

.btn-idioma i {
    font-size: 20px;
    color: #000000;
    filter: drop-shadow(0 2px 4px rgba(120, 120, 120, 0.6));
}

.btn-idioma:active {
    transform: scale(0.95);
}

/*ESTILO DO TOP SITE*/

section.especialidades {
    padding: 85px 4%;
    margin-top: 80px;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: var(--text-color);
    font-size: 42px;
    line-height: 42px;
    margin-top: 85px;
}

.topo-do-site .txt-topo-site h1 span {
    color: #535353;
}

.topo-do-site .txt-topo-site p {
    color: var(--text-color);
    margin: 40px 0px;
    font-size: 20px;
    text-align: justify;
    text-justify: inter-word;
}

.topo-do-site .img-topo-site img {
    max-width: 100%;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    filter: drop-shadow(0 0 20px rgba(218, 222, 223, 0.39));
}

.btn-contato i {
    font-size: 25px;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/*ESTILO DAS ESPECIALIDADES*/
.especialidades .especialidades-box {
    background-color: var(--card-bg);
}

section.especialidades {
    padding: 85px 4%;
    margin-top: 80px;
}

section.especialidades .flex {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 40px;
    flex-wrap: wrap;
}

.especialidades .especialidades-box {
    background-color: var(--card-bg);
    color: var(--text-color);

    padding: 30px;
    border-radius: 20px;
    margin-top: 45px;

    transition: transform 0.4s ease, box-shadow 0.4s ease;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    max-width: 420px;
    flex: 1 1 320px;
    font-size: 20px;

    /* SOMBRA BASE – uniforme */
    box-shadow: 0 0 22px rgba(150, 150, 150, 0.35);
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px rgba(180, 180, 180, 0.55);
}


.especialidades .especialidades-box i {
    font-size: 60px;
    margin-bottom: 6px;

    color: var(--text-color);

    filter: drop-shadow(0 0 14px rgba(160, 160, 160, 0.55));
}

.especialidades .especialidades-box h3 {
    font-size: 26px;
    margin-bottom: 10px;
    color: var(--text-color);
}

.especialidades .especialidades-box p {
    color: var(--text-muted);
    line-height: 1.6;
    text-align: justify;
}

/*ESTILO DO ICONES*/
.skills-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    margin: 30px 0;
}

.skills-icons i {
    font-size: 42px;
    color: var(--text-color);
    /* ✅ segue o tema */
}

.skills-icons i:hover {
    filter: drop-shadow(0 0 22px rgba(180, 180, 180, 0.7));
}

.certificados-btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


/*ESTILO DO SOBRE*/

section.sobre {
    padding: 80px 4%;
}

section.sobre .flex {
    display: flex;
    align-items: center;
    gap: 40px;
}

.sobre .img-sobre {
    flex: 0 0 380px;
    /* largura fixa elegante */
}

.sobre .img-sobre img {
    width: 100%;
    border-radius: 20px;
    display: block;
    box-shadow: 0 18px 10px rgba(0, 0, 0, 0.18),
        0 0 0 10px rgba(0, 0, 0, 0.06);
}

.sobre .txt-sobre {
    color: var(--text-color);
}

.sobre .txt-sobre h2 {
    font-size: 45px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: var(--text-color);
    display: block;
}

.sobre .txt-sobre p {
    text-align: justify;
    font-size: 18px;
    margin: 35px 0;
}

.btn-social a {
    text-decoration: none;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: none;
    background-color: #7e7b7b;
    font-size: 35px;
    cursor: pointer;
    margin: 10px;

    /* transição mais lenta e suave */
    transition: background-color 0.5s ease, transform 0.5s ease, box-shadow 0.5s ease;

    /* sombra base mais visível e uniforme */
    box-shadow: 0 0 14px 4px rgba(160, 160, 160, 0.767);
}

.btn-social button:hover {
    background-color: #ffffff;
    color: #000;

    transform: scale(1.12);

    box-shadow: 0 0 30px 8px rgba(180, 180, 180, 0.6);

}

/*ESTILO DO PORTIFOLIO*/

section.portifolio {
    padding: 85px 4%;
    box-shadow: var(--section-shadow);
}

section.portifolio .flex {
    justify-content: space-around;
}

.img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 5s;
    border-radius: 40px;
    cursor: pointer;
    position: relative;
    filter: grayscale(100%);

}

.img-port:hover {
    filter: grayscale(0%);
    background-position: 100% 100%;
}

body.light .img-port {
    filter: grayscale(100%);
}

body.light .img-port:hover {
    filter: grayscale(0%);
}

body.light .img-port::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 40px;
    /* BORDA REAL */
    border: 2px solid rgba(60, 60, 60, 0.9);
    /* GARANTE DEFINIÇÃO */
    box-sizing: border-box;
    pointer-events: none;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: #ffffff;
    opacity: 0;
    transition: .5s;


    font-size: 2rem;
    color: #fff;

    box-shadow: none;
    filter: none;
    text-shadow: none;
    animation: none;
    transition: opacity 0.5s ease;

}

@keyframes shadow-dance {

    0%,
    100% {
        text-shadow: 5px 5px 0 #000000, 10px 10px 0 #808080;
    }

    50% {
        text-shadow: -5px -5px 0 #000000, -10px -10px 0 #808080;
    }
}

.overlay:hover {
    opacity: 1;

}

/*ESTILO DO FORMULARIO*/

section.formulario {
    padding: 70px 4% 30px;
}

form {
    max-width: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input,
form textarea {
    width: 100%;
    background-color: var(--input-bg);
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: var(--text-color);
    font-size: 18px;
}

form textarea {
    resize: none;
    min-height: 200px;
    max-height: 350px;
}

form .btn-contato {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

form .btn-contato button {
    width: 30%;
}

.lista-comentarios {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comentarios {
    background: var(--card-bg);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.05);
}

.comentarios h2 {
    color: var(--text-color);
    margin-bottom: 8px;
    font-size: 18px;
}

.comentarios p {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.4;
}

/*BOTAO DO FORMULARIO ENVIAR*/
/* ===== MODAL SUCESSO ===== */

.sucesso-modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;

    transition: opacity 0.4s ease, visibility 0.4s ease;
    z-index: 99999;
}

.sucesso-modal.active {
    opacity: 1;
    visibility: visible;
}

.sucesso-box {
    padding: 40px 60px;
    border-radius: 20px;
    font-size: 22px;
    font-weight: 600;
    text-align: center;

    background: #ffffff;
    color: #000000;

    transition: background 0.5s ease, color 0.5s ease, transform 0.5s ease;
    transform: scale(0.9);
}

.sucesso-modal.active .sucesso-box {
    transform: scale(1.08);
}

/* MODO CLARO */
body.light .sucesso-box {
    background: #fdfcfc;
    color: #000000;
}


/* ESTILO DO RODAPÉ*/

footer {
    padding: 20px 4%;
    box-shadow: var(--section-shadow);
}

footer .flex {
    justify-content: space-between;
    align-items: center;
}

footer .line-footer {
    padding: 15px 0;
}

.borda {
    border-top: 2px solid #535353;
}

footer .line-footer p i {
    color: var(--text-color);
    font-size: 20px;
}

footer .line-footer p a {
    color: var(--text-color);
    text-decoration: none;
    margin-right: 8px;
    font-size: 18px;
    align-items: center;
}

.logo-footer {
    display: block;
    transition: filter 0.5s ease;
}

body.light .logo-footer img {
    filter: drop-shadow(0 0 8px rgba(60, 60, 60, 0.95));
}


/*ITENS DE MENU*/

.lang-menu li {
    padding: 8px 14px;
    cursor: pointer;
    color: #fff;

    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
}

.lang-menu li img {
    width: 20px;
}

.lang-menu li:hover {
    background: #222;
}

/*DROPDOWN do botão IDIOMA*/
.lang-selector {
    position: relative;
    z-index: 999;
}

.lang-menu {
    position: absolute;
    top: calc(100% + 8px);
    right: 0;
    background: #111;
    border-radius: 20px;
    min-width: 160px;
    display: none;
    flex-direction: column;
    z-index: 1000;
}

.lang-selector.active .lang-menu {
    display: flex;
}

header .btn-contato {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 16px;
}

header,
header .interface {
    overflow: visible;

}

/* CONTROLE DE TAMANHO DA FONTE */
.font-controls {
    display: flex;
    gap: 8px;
}

.font-controls button {
    height: 52px;
    min-width: 52px;
    border-radius: 12px;
    border: none;
    cursor: pointer;

    background-color: #7e7b7b;
    color: #000;
    font-size: 20px;
    font-weight: 600;

    transition: 0.2s ease;
}

.font-controls button:hover {
    background-color: #ffffff;
    transform: scale(1.15);
}